{% extends "Layouts/baseLogin.html" %}
{% block titulo %}Cadastro{% endblock %}
{%load staticfiles%}
{% block head %}<link href="{%static "css/Login.css"%}" rel="stylesheet" type="text/css"> {% endblock %}
{%block body%}
  <body class="text-center">
   <form action="/cadastro"class="form-signin" method=post>
    {% csrf_token %}
   
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      {% if message  %}
	  <div class="alert alert-success alert-dismissable fade show">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
	    <strong>{{message}}</strong>
	  </div>
	 {% endif %}
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      {{form.first_name}}
      {{form.first_name.errors}}
      <br/>
      {{form.last_name}}
      {{form.last_name.errors}}
      <br/>
      {{form.email}}
      {{form.email.errors}}
      <br/>
      {{form.username}}
      {{form.username.errors}}
      <br/>
      {{form.password}}
      {{form.password.errors}}
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </body>
{% endblock %}