

{% extends "Layouts/baseLogin.html" %}
{% block titulo %}Login{% endblock %}

{%load staticfiles%}
{% block head %}<link href="{%static "css/Login.css"%}" rel="stylesheet" type="text/css"> {% endblock %}

{%block body%}

  <body class="text-center">
	<a href="/logout">login</a>
    <form action="/login" method="post"class="form-signin">
        {% csrf_token %}
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <label for="inputEmail" class="sr-only">Login</label>
      <input type="text" name="username" class="form-control" placeholder="Usuário" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </body>
{% endblock %}